
                  <% book.book_comments.each do |book_comment| %>
                  <tr>
                    <td><p><%= image_tag book_comment.user.get_profile_image(50,50) %></p>
                     <span><%= link_to book.user.name, user_path(@user.id) %></span>
                    </td>
                    <td><%= book_comment.comment %></td>
                    <td><% if book_comment.user == current_user %>
                      <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment),class:"btn btn-danger", method: :delete, remote: true,  "data-confirm" => "本当に消しますか？"  %>
                    </td>
                    <% end %>
                  <% end %>