
<!-- BookersボタンのTopページ-->


<h1><p  class="text-center" >welcome to <strong><i class="fas fa-book"></i>Bookers</strong> !!</p></h1>

<p class="text-center">In<strong> Bookers</strong> ,</p>

<p class="text-center">you can share and exchange your opinions , inpressions , and emotions</p>

<p class="text-center">about various books!</p>

<div class="">
    
<p class="text-center"><a href="/users/sign_in">Log in</a></p>
</div>

<div class="">
 <p class="text-center"> <a href="/users/sign_up">Sign up</a></p>
</div>


